# OpenFOAM 运行/编译产物
[0-9]*/
!/0/
!/0.orig/
!Initializer/0/
processor*/
postProcessing/
dynamicCode/
platforms/
Make/linux64*/
**/Make/linux64*/
*.obj
*.o
*.dep
*.so

# 运行/分解时写出的网格辅助文件（真正网格在 constant/polyMesh）
constant/fvMesh/
log.*
*.log
foam.log
core

# 忽略时间步目录但保留初始场
/[1-9]*
/0.[0-9]*
